[buildout]
extends = ../shared.cfg
# I want at leasst one namespace package in development, and one final.
develop =
    ../../packages/ns.ancient
    ../../packages/ns.hat
#    ../../packages/ns.tools
testeggs =
    ns.ancient
    ns.hat
    ns.tools
