.installed.cfg
bin/
build/
include/
develop-eggs/
eggs/
parts/
python*/
venvs/
*.pyc
*.egg
*.egg-info
dist
.tox
.coverage
.coverage.*
.vscode/
.venv-grammar/
tree-sitter-buildout/*.dylib
tree-sitter-buildout/*.so
