language: python
env:
    - PYTHON_VER=2.6
    - PYTHON_VER=2.7
    - PYTHON_VER=3.2
    - PYTHON_VER=3.3
    - PYTHON_VER=3.4

sudo: false
cache:
  directories:
  - pythons
# Note on this cache directories: "make build" downloads pythons elsewhere,
# but installs the compiled bin/lib/share in pythons/pythonx.y/ .

notifications:
  email:
    - buildout-development@googlegroups.com

install:
    - ls -al pythons
    - deactivate
    - make build

script: make test
