include *.py
include *.rst
include *.txt
include .coveragerc
include pyproject.toml
recursive-include bootstrap *.py
recursive-include specifications *.txt
recursive-include src/zc *.test
recursive-include src/zc *.txt
recursive-include src/zc *.py
prune doc
prune old-tutorial
prune zc.recipe.egg_
prune .circleci
prune .travis
recursive-exclude builds ci_build.sh
recursive-exclude news *
exclude .deepsource.toml
exclude ci_build.sh Makefile.builds
exclude news
