include *.py
include *.rst
include *.txt
include .coveragerc
recursive-include bootstrap *.py
recursive-include specifications *.txt
recursive-include src/zc *.test
recursive-include src/zc *.txt
prune doc
prune old-tutorial
