include *.py
include *.rst
include *.txt
include .coveragerc
include pyproject.toml
recursive-include specifications *.txt
recursive-include src/zc *.test
recursive-include src/zc *.txt
recursive-include src/zc *.py
recursive-include src/zc *.rst
prune doc
prune old-tutorial
prune zc.recipe.egg_
exclude .deepsource.toml
prune news
prune projects
