# a column-0 comment
; another one
[buildout] ; trailing comment after header
parts = demo

[demo]
recipe = my.recipe
# this comment does NOT close the option below in the reference parser
multi = first line
    second line

    third line after a blank one
[other]
recipe = my.recipe
block =
    line one
    line two
