[buildout]
index =
download-cache = ../../downloads
parts = testscript
develop =
newest = false

[testscript]
recipe = zc.recipe.egg
interpreter = testscript
eggs =
    hatchdemo
    setuptoolsdemo
    ns.hat
    ns.tools
