[buildout]
# These paths are relative to the current buildout config.
download-cache = ../downloads
eggs-directory = ../eggs
parts = testscript
newest = false
testeggs =

[versions]
zc.buildout =
zc.recipe.egg = >= 6.0.0a1

[testscript]
recipe = zc.recipe.egg
interpreter = testscript
eggs = ${buildout:testeggs}
