[buildout]
extensions = buildout.environ
environ-required =
    PACKAGE

parts = test

sandbox = ${buildout:directory}/../../sandbox
eggs-directory = ${buildout:sandbox}/eggs
download-cache = ${buildout:sandbox}/downloads
# abi-tag-eggs is false, so we can just check the eggs/v5 dir:
abi-tag-eggs = false
# prefer-final is false so we can pull in alpha versions of zc.recipe.egg:
prefer-final = false

[test]
recipe = zc.recipe.egg
eggs = ${__environ__:PACKAGE}
